{
    "output": "The Devils of Loudun - Escaping Eternity",
    "convert": [
        "E://Projects//vocal-remover-data//input//dol-escaping-eternity/The Devils of Loudun - Escaping Eternity - 01 The Scourge of Beasts.wav",
        "E://Projects//vocal-remover-data//input//dol-escaping-eternity/The Devils of Loudun - Escaping Eternity - 02 Ex Nihilo.wav",
        "E://Projects//vocal-remover-data//input//dol-escaping-eternity/The Devils of Loudun - Escaping Eternity - 03 Incarnate.wav",
        "E://Projects//vocal-remover-data//input//dol-escaping-eternity/The Devils of Loudun - Escaping Eternity - 04 Anamnesis.wav",
        "E://Projects//vocal-remover-data//input//dol-escaping-eternity/The Devils of Loudun - Escaping Eternity - 05 The Death of Sleep.wav",
        "E://Projects//vocal-remover-data//input//dol-escaping-eternity/The Devils of Loudun - Escaping Eternity - 06 Evolving Wilds.wav",
        "E://Projects//vocal-remover-data//input//dol-escaping-eternity/The Devils of Loudun - Escaping Eternity - 07 Praise the Eternal Nightmare.wav",
        "E://Projects//vocal-remover-data//input//dol-escaping-eternity/The Devils of Loudun - Escaping Eternity - 08 Abysswalker.wav",
        "E://Projects//vocal-remover-data//input//dol-escaping-eternity/The Devils of Loudun - Escaping Eternity - 09 Formless.wav",
        "E://Projects//vocal-remover-data//input//dol-escaping-eternity/The Devils of Loudun - Escaping Eternity - 10 Arcana Imperii.wav"
    ]
}